.card-block {
    padding: 1.5rem 2rem;
    background: var(--color-background-soft);
    border: 2px solid var(--color-background-soft);
    border-radius: 8px;
    box-shadow: #87878745 0px 0px 3px 3px
}