.btn {
    cursor: pointer;
    min-width: 5rem;
    width: fit-content;
    height: fit-content;
    min-height: 2rem;
    padding: 0 1rem;
    border: 1px solid var(--white-mute);
    border-radius: 4px;
    background-color: var(--white-mute);

    .loading-wrapper{
        padding-bottom: 4px;
    }
}