@import './input.scss';

.form-field-wrapper {
    margin-bottom: 1rem;

    .form-field{
        position: relative;
        padding-bottom: 1.5rem;
        .form-label {
            display: block;
            padding-bottom: 0.3rem;
        }
    
        .is-invalid{
            border-color: var(--color-danger);
            animation: horizontal-shaking 0.15s;
        }
    }
}