// Theme
:root { 
    --white: #ffffff;
    --white-soft: #f8f8f8;
    --white-mute: #f2f2f2;
    --grey: #505050;

    --black: #181818;
    --black-soft: #222222;
    --black-mute: #282828;

    --indigo: #2c3e50;
    --cambr-darker: #6a8985;
    --cambr-dark: #87aba7;
    --cambr-soft: #baded9;

    --pink: rgb(255, 80, 80);
}

:root {
    --color-text: var(--white-soft);
    --color-text-soft: var(--indigo);
    --color-background: var(--cambr-dark);
    --color-background-soft: var(--cambr-soft);

    --color-box-shadow: var(--cambr-darker);
    --color-danger: var(--pink);
}


// Typography
$font-size-baseline: 1rem !default; /* 16px */
$font-size-base: $font-size-baseline !default; /* 16px */
$font-size-sm: $font-size-baseline * 0.875 !default; /* 14px */
$font-size-xs: $font-size-baseline * 0.625 !default; /* 10px */

$h1-font-size: $font-size-baseline * 1.875 !default; /* 30px */
$h2-font-size: $font-size-baseline * 1.5 !default; /* 24px */
$h3-font-size: $font-size-baseline * 1.25 !default; /* 20px */
$h4-font-size: $font-size-baseline * 1 !default; /* 16px */